.moveRight {
    animation: moveRight 2s linear infinite;
}

.moveLeft {
    animation: moveLeft 2s linear infinite;
}


@keyframes moveRight {

    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(4deg) translateZ(0px);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(4deg) translateZ(0px);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes moveLeft {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-4deg) translateZ(0px);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-4deg) translateZ(0px);
    }

    100% {
        transform: rotate(0deg);
    }


}