@import url('https://fonts.googleapis.com/css2? family= Rubik:wght@300;400;500;600;700;800;900 & display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s linear;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: orange;
  border-radius: 10px;
}

::selection {
  background: black;
  color: white;
}