@import url('https://fonts.googleapis.com/css2? family= Rubik:wght@300;400;500;600;700;800;900 & display=swap');
@import url('https://fonts.cdnfonts.com/css/new-super-mario-font-u');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all .3s linear;
}

html {
  scroll-behavior: smooth;
  scroll-behavior: slow;
  /* For Firefox */
}

::-webkit-scrollbar {
  max-width: 10px;
  width: 5px;
}

::-webkit-scrollbar:hover {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: orange;
  border-radius: 10px;
}

::selection {
  background: black;
  color: white;
}

.icon:hover {
  transform: rotateY(-5deg) translateY(-15px) rotateX(5deg) scale(1);
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

        50% {
          transform: translateY(30px);
        }

        100% {
          transform: translateY(0);
        }
}